@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 1.5s linear infinite;
  }
}

@font-face {
  font-family: "gothamblack";
  src: url("../fonts/gotham-black-webfont.woff2") format("woff2"),
    url("../fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("../fonts/gotham-light-webfont.woff2") format("woff2"),
    url("../fonts/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamultraitalic";
  src: url("../fonts/gotham-ultraitalic-webfont.woff2") format("woff2"),
    url("../fonts/gotham-ultraitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold_italic";
  src: url("gothambolditalic-webfont.woff2") format("woff2"),
    url("gothambolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook_italic";
  src: url("gothambookitalic-webfont.woff2") format("woff2"),
    url("gothambookitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothammedium";
  src: url("gothammediumitalic-webfont.woff2") format("woff2"),
    url("gothammediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("../fonts/gotham-bold-webfont.woff2") format("woff2"),
    url("../fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook";
  src: url("gothambook-webfont.woff2") format("woff2"),
    url("gothambook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arial_rounded_mt_boldregular";
  src: url("../fonts/arial_rounded_mt_bold_regular-webfont.woff2")
      format("woff2"),
    url("../fonts/arial_rounded_mt_bold_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arial_rounded_mtregular";
  src: url("../fonts/arial_rounded_mt_regular-webfont.woff2") format("woff2"),
    url("../fonts/arial_rounded_mt_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "itc_erasultra";
  src: url("../fonts/erasitcbybt-ultra-webfont.woff2") format("woff2"),
    url("../fonts/erasitcbybt-ultra-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "arial_rounded_mtregular";
}

.container {
  max-width: 1300px;
}

.font-bold {
  font-family: "arial_rounded_mt_boldregular";
}
.font-semibold {
  font-family: "arial_rounded_mt_boldregular";
}

.brands {
  li {
    font-family: "itc_erasultra";
  }
}

.industy-category {
  & > ul {
    @apply columns-2 gap-0;
  }
}

.btn-primary {
  @apply bg-primary-300 text-white px-5 py-2 mt-5 rounded hover:bg-primary-600 flex gap-2 items-center;
}

.form-label {
  @apply block text-gray-700 mb-2;
}
/* Add this in your CSS (e.g., styles.css or globals.css) */
.form-input {
  @apply w-full border border-gray-300 rounded-lg p-2;

  &.error {
    @apply border-red-500;
  }
}

.header-links {
  @apply ml-auto mb-2 flex text-primary-300 uppercase text-xs;

  & > a {
    @apply hover:text-primary-600 flex items-center gap-1 px-3;
  }

  & > a:not(:last-child) {
    @apply border-e-primary-300 border-e-2;
  }

  & > a:last-child {
    @apply pe-0;
  }
}

.main-navbar {
  @apply flex justify-between;

  & > li {
    @apply relative;

    & > a {
      @apply p-2 flex items-center gap-2;
    }

    &:hover > a {
      @apply bg-primary-600;
    }

    & > ul {
      @apply absolute  hidden;

      & li:hover > a {
        @apply bg-primary-300;
      }

      & > li {
        @apply relative bg-primary-600 text-white;

        a {
          @apply flex whitespace-nowrap p-2 border;
        }

        ul {
          @apply absolute left-full top-0 bg-primary-600  hidden;

          a {
            @apply py-1;
          }
        }

        &:hover > ul {
          @apply block;
        }
      }
    }

    &:hover > ul {
      @apply block;
    }
  }
}

.table {
  @apply min-w-full mt-4;

  & {
    thead th {
      @apply border px-4 py-3 text-left font-bold bg-blue-500 text-white;
    }
    tbody td {
      @apply border px-4 py-1;
    }
  }
}

.mobile-footer-links {
  @apply w-full max-w-md mx-auto list-none p-0;

  & > li {
    @apply border-b text-primary-300 border-b-primary-300 font-bold;
  }
}

@media screen and (max-width: 800px) {
  .main-navbar {
    @apply flex-col fixed bg-primary-300 top-0 bottom-0 start-0 justify-start;
  }
}

/**
 * Web Forms
 */
.web-input {
  @apply w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary-300;
}

@media screen and (max-width: 800px) {
  .custom-pagination {
    @apply -bottom-5 absolute left-0 w-full flex justify-center gap-2;

    .swiper-pagination-bullet {
      opacity: 1 !important;
      @apply bg-primary-300 opacity-100;
    }

    .swiper-pagination-bullet-active {
      @apply bg-white border border-primary-300;
    }
  }
}

.editor-container {
  position: relative; /* Ensure proper stacking */
  margin-bottom: 16px !important; /* Add some spacing */
}

.editor-content {
  h3 {
    @apply font-bold text-2xl;
  }
  h2 {
    @apply font-bold text-xl;
  }
  p {
    @apply text-justify;
  }

  ul {
    @apply list-inside list-disc;
  }
}
